*{
    padding: 0px;
    margin: 0px;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#Loading{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(75Deg,orange,rgb(98, 35, 46));
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 3;
}
#button,#spin{
    width: 300px;
    height: 80px;
    border: 15px double skyblue;
    background-color: royalblue;
    outline-offset: 10px;
    outline:dotted 10px yellow;
    font-size: 24px;
    font-weight: bold;
    color: red;
    border-radius: 200px;
    cursor: pointer;
    transition: transform 0.2s ;
    box-shadow: 2px 2px 5px black;

}
#button:hover{
    transform: scale(1.2);

}
#container{
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-image: url("./spinwheel/back.gif");
    background-repeat: no-repeat;
    background-size: 100% 120vh;
    display: flex;
    align-items: center;
    justify-content: center;

}
#wheel{
    width: 40%;
    filter: drop-shadow(5px 5px 5px black);
    position: absolute;
    left: 25%;
    bottom: 20px;
}
#point{
    width: 200px;
    position: absolute;
    right: 22%;
    top: 50%;
}
#spin{
    width: 220px;
    height: 80px;
    border-radius: 5px;
    background-color: black;
    position: absolute;
    right: 8%;
}